Allow the users to register to the system and to become part of the community:
- The system must be able to check patent and payment method autenticity and validity.
- The system must send a password for login at the e-mail address provided.
- The system must provide to the user a redirection link for the activation of the account within the welcome e-mail

Allow the user to select a parking lot from a subset of them where to pick up a car:
- The system must be able to provide the list of all parking lot with at least one free vehicle, from the nearest to the farest, 
  within 100 m from the position of the user or from the one provided.
- The system must be able to detect user's location according to user's GPS.
- The system must be able to provide basic information about the car, such as tariff.

Allow the user to reserve a car:
- The system must allow the user to book a car from the selected parking lot.
- The system must provide the countdown of the hour to the user.
- The system must remove the car from the car from the available ones according to the user choice.
- The system must be able to lock a reserved car until the user that booked it, unlocks it.

Allow the user to unlock the car:
- The system must remove the car from the available ones until the user ends to use it.
- The system must be able to detract 1€ from the user if he does not pick up the car within the hour.
- The system must provide a feature in order to unlock the car.
- The system must be able to detect the car's location according to the car's GPS.
- The system must be able to detect user's location according to user's GPS.
- The system must notify the user when the time is up if the car has not been unlocked and about the detraction.
- The system must add the car to the available ones if the car has not been unlocked in time.
- The system must be able to nullify the prenotation in order to not permit the user to pick up the car if the time is up. 

Allow the user to use the car and to get a discount:
- The system must be able to check the time that passed from the first ignition of the motor to the checkout, in order to evaluate the final ride cost. 
- The system must provide the update information about the actual ride cost to the user in any moment from the app and the built in screen
- The system must apply the discount at the end of the ride and let know the actual cost to the user from the application
- The system must check the value of the sensors under the seats of the car.
- The system must check the car battery charge at the end of the ride.
- The system must check if a car is plugged or unplugged before the checkout
- The system must check the final position of the car after the checkout, from the car's GPS, and if it's in a safe park or not.

Allow the user to select the money saving mode:
- The system must provide to the user the possibility of activating the money saving option.
- The system must be able to locate the final destination provided by the user
- The system must be able to locate the nearer safe parking area to the final destination
- The system must be able to tell the user of the destination provided exists 
- The system must be able to provide to the user a list of possible safe parking area ordered according to: number of free parking slots, number of plugged, charged and uncharged cars and the distance of the single parking area from the final destination.
- The system must be able to check the number of charged, uncharged and plugged cars in any parking area of the Company
- The system must be able to know the number of parking slots in any parking area of the company

Allow the user to finish to use the car:
- The system must be able to detect if a car is in a safe parking area
- The system must allow the user to lock the car 
- The system must be able to set the car as "to be charged" mode after the user locks it
- The system must be able to detract the right amount of money with the method of payment provider by the user after the locking of the car in "stop" mode.